
/* * {
    outline: 1px dotted white;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    width: 50%; */
/* } */



body {
    background-image: url(../img/space.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}

h1 {
    color: Purple;
    text-align: center;
    font-size: 35px;
}
p {
    font-size: 25px;
    color: white;   
    text-align: center; 
}